 body,h1,h2,h3,h4,h5,h6,ul,li,li{margin:0; padding:0;}
        ul,ol{list-style:none;}

ul{
        list-style:none;
        padding:0;
        margin:0;
    }
        button{
            border:0;
            background-color:transparent;
            cursor:pointer;
        }
        
        /*option*/
        .txt-l{text-align:left;}
        .txt-c{text-align:center;}
        .txt-r{text-align:right;}
        